header {
    color: black;
    font-size: xx-small;

}
 
h1 {
    font-size: small;
}
body { 
    font-size: xx-large;
    background-color: white;
    
}

div {
    background-color: white;
    align-self: center;
    font-size: 55px;


}
form {
  align-content: center;
}

